/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.alert {
  position: absolute;
  z-index: 1000;
  text-align: center;
  padding: 1.5rem 0;
  width: 100%;
}
.alert-message {
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}
.alert-error {
  background-color: #B71C1C;
}
.alert-success {
  background-color: #10A033;
}
.alert-close {
  margin-left: 2rem;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  cursor: pointer;
}
.alert-close img {
  position: relative;
  width: 100%;
}

footer {
  position: absolute;
  top: 100%;
  width: 100%;
}

.landing-background {
  background: center top/cover no-repeat url("../img/background_top.svg"), center bottom/cover no-repeat url("../img/background_bottom.svg");
}

body {
  position: relative;
  min-height: 100vh;
}

.sign-in {
  position: relative;
  z-index: 0;
}
.sign-in-container {
  background-color: #F7FAFC;
  padding: 5rem 1rem 5rem 1rem;
  border-radius: 5px;
}
.sign-in-title {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.sign-in-subtitle {
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
  margin-bottom: 4rem;
}
.sign-in-title, .sign-in-subtitle {
  text-align: center;
}
.sign-in-username {
  margin-bottom: 4rem;
}
.sign-in-password {
  margin-bottom: 8rem;
}
.sign-in-input {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding: 2.5rem 1.5rem;
  border: none;
  box-shadow: none;
}
.sign-in-input:hover, .sign-in-input:active, .sign-in-input:focus, .sign-in-input:visited {
  border: none;
  box-shadow: none;
}
.sign-in-input:focus {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
}
.sign-in-input:placeholder-shown {
  font-size: 1.4rem;
}
.sign-in-input-group {
  border-radius: 2px;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
}
.sign-in-input-group-error {
  -webkit-box-shadow: 0px 5px 10px 0px #fadcdc;
  -moz-box-shadow: 0px 5px 10px 0px #fadcdc;
  box-shadow: 0px 5px 10px 0px #fadcdc;
}
.sign-in-input-icon {
  color: #172B4D;
}
.sign-in-input-label {
  background-color: white;
  border: none;
}
.sign-in-submit {
  text-align: center;
}
.sign-in-submit-btn {
  font-size: 1.4rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  background-color: #11CDEF;
  color: white;
  padding: 1.5rem 4rem;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
}
.sign-in-submit-btn:disabled {
  background-color: #707070;
}

.input-error {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  color: red;
}

.new-user {
  position: absolute;
  background-color: #291528;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-200%);
}
.new-user-text {
  color: white;
  font-size: 1.4rem;
  letter-spacing: 0.12rem;
}
.new-user-text a, .new-user-text a:focus, .new-user-text a:visited, .new-user-text a:hover {
  color: #11CDEF;
}

@media only screen and (min-width: 768px) {
  .sign-in {
    padding-top: 10vh;
  }

  form {
    padding: 0 2rem;
  }
}
@media only screen and (min-width: 1920px) {
  form {
    padding: 0 15rem;
  }
}
body {
  position: relative;
  min-height: 100vh;
  background: center top/cover no-repeat url("../img/background_top.svg"), center bottom/cover no-repeat url("../img/background_bottom.svg");
}

.sign-up {
  position: relative;
  z-index: 0;
}
.sign-up-container {
  background-color: #F7FAFC;
  padding: 5rem 1rem 5rem 1rem;
  border-radius: 5px;
}
.sign-up-title {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.sign-up-subtitle {
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
  margin-bottom: 4rem;
}
.sign-up-title, .sign-up-subtitle {
  text-align: center;
}
.sign-up-username, .sign-up-given-name, .sign-up-family-name, .sign-up-email, .sign-up-password {
  margin-bottom: 4rem;
}
.sign-up-confirm-password {
  margin-bottom: 8rem;
}
.sign-up-input {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding: 2.5rem 1.5rem;
  border: none;
  box-shadow: none;
}
.sign-up-input:hover, .sign-up-input:active, .sign-up-input:focus, .sign-up-input:visited {
  border: none;
  box-shadow: none;
}
.sign-up-input:focus {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
}
.sign-up-input:placeholder-shown {
  font-size: 1.4rem;
}
.sign-up-input-group {
  border-radius: 2px;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
}
.sign-up-input-group-error {
  -webkit-box-shadow: 0px 5px 10px 0px #fadcdc;
  -moz-box-shadow: 0px 5px 10px 0px #fadcdc;
  box-shadow: 0px 5px 10px 0px #fadcdc;
}
.sign-up-input-icon {
  color: #172B4D;
}
.sign-up-input-label {
  background-color: white;
  border: none;
}
.sign-up-submit {
  text-align: center;
}
.sign-up-submit-btn {
  font-size: 1.4rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  background-color: #11CDEF;
  color: white;
  padding: 1.5rem 4rem;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
}
.sign-up-submit-btn:disabled {
  background-color: #707070;
}

.input-error {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  color: red;
}

.returning-user {
  position: absolute;
  background-color: #291528;
  margin-top: 6rem;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: 100%;
  padding: 2rem 0;
}
.returning-user-text {
  color: white;
  font-size: 1.4rem;
  letter-spacing: 0.12rem;
}
.returning-user-text a, .returning-user-text a:focus, .returning-user-text a:visited, .returning-user-text a:hover {
  color: #11CDEF;
}

@media only screen and (min-width: 768px) {
  .sign-up {
    padding-top: 5vh;
  }

  form {
    padding: 0 2rem;
  }

  .returning-user {
    margin: 0;
  }
}
@media only screen and (min-width: 1920px) {
  form {
    padding: 0 15rem;
  }
}
.top-bar {
  position: relative;
  z-index: 3;
}

#responsive-menu, .top-bar ul {
  background-color: #FAFEFF;
}

.title {
  position: absolute;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  top: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

._right-menu li {
  margin-right: 7rem;
}
._right-menu button {
  cursor: pointer;
}
._right-menu ._dropdown-link {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
}
._right-menu ._dropdown-link:last-child {
  padding: 0 1rem;
}
._right-menu ._menu-item:not(:last-child) {
  margin-bottom: 2rem;
}
._right-menu .menu {
  padding: 2rem 0;
}
._right-menu ._dark-mode-toggle {
  margin-left: 2rem;
  position: relative;
  vertical-align: middle;
}
._right-menu ._dark-mode-title {
  position: relative;
  vertical-align: middle;
}

#user-name {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
}

._settings-dropdown {
  min-width: 25rem;
}

@media only screen and (max-width: 960px) {
  .title {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .title-bar {
    position: relative;
    z-index: 3;
  }

  ._right-menu li {
    margin-right: 4rem;
  }
}
._sidebar {
  position: fixed;
  top: 0;
  background: #eafffa;
  background: linear-gradient(180deg, #eafffa 0%, #dafaff 100%);
  width: 20rem;
  padding: 10rem 0 2rem 0;
  min-height: 100vh;
  z-index: 2;
  transform: translateX(0);
  transition: transform 500ms;
}
._sidebar-item {
  background-color: #FCFCFC;
  height: 6rem;
  padding: 0;
  border-radius: 30px;
  transition: background-color 500ms;
}
._sidebar-item:hover {
  background-color: #11CDEF;
}
._sidebar-item:hover span {
  color: #FCFCFC;
}
._sidebar-item span {
  position: relative;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  margin: 0 auto;
  color: #172B4D;
  transition: color 200ms;
}
._sidebar-item:not(:last-child) {
  margin-bottom: 5rem;
}
._sidebar-item-selected {
  background-color: #71A2B6;
}
._sidebar-item-selected span {
  color: #FCFCFC;
}
._sidebar-item ._sidebar-item-link {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: center;
}
._sidebar-item-icon {
  position: relative;
  margin-left: 2rem;
}
._sidebar-item-icon.slide-left {
  transform: translateX(550%);
}
._sidebar-closed {
  transform: translateX(-70%);
}

#sidebar-open, #sidebar-close {
  position: relative;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  transition: translate 200ms;
}

#sidebar-open-active, #sidebar-open-focus {
  border: none;
}

@media only screen and (max-height: 736px) {
  ._sidebar {
    padding-top: 5rem;
  }
}
@media only screen and (max-height: 667px) {
  ._sidebar-item:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media only screen and (max-height: 600px) {
  ._sidebar-item:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
.account-main {
  background-color: #FCFCFC;
  padding: 4rem 0;
  margin: 1rem auto;
  transition: width 500ms, transform 500ms;
  min-width: 320px;
  width: 50vw;
}
.account-basic-info {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}
.account-fullname-username {
  text-align: left;
}
.account-fullname {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: #172B4D;
  font-weight: bold;
  margin-bottom: 4rem;
}
.account-username {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
}
.account-pic {
  position: relative;
  width: 50px;
}
.account-pic-container {
  position: relative;
}
.account-pic-attachment {
  position: relative;
  width: 20px;
  height: 20px;
  left: 70px;
  top: -40px;
}
.account-pic-attachment-btn {
  cursor: pointer;
}
.account-field {
  color: #172B4D;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}
.account-field-cell {
  text-align: center;
}
.account-required {
  color: red;
  margin-left: 0.5rem;
}
.account-input {
  margin: 1.5rem auto 5rem auto;
  max-width: 25rem;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  padding: 2rem;
  border-radius: 5px;
  border-color: #172B4D;
  border-width: 0.3px;
  background-color: white;
  text-align: center;
}
.account-input::placeholder {
  color: #172B4D;
}
.account-input:focus, .account-input:hover, .account-input:active {
  border-width: 0.3px;
}
.account-user_role {
  margin-bottom: 4rem;
}
.account-user_role option {
  font-size: 1.4rem;
}
.account-user_role-container {
  max-width: 200px;
  margin: 2rem auto;
}
.account-reveal-password {
  cursor: pointer;
  position: relative;
  top: -75px;
  left: 10rem;
  color: #172B4D;
}
.account-hide-password {
  display: none;
}
.account-btns {
  margin: 2rem auto 0 auto;
}
.account-btn {
  padding: 1.5rem 2.5rem;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 5px 0px gray;
  transition: box-shadow 150ms;
}
.account-btn:hover {
  box-shadow: 0 0 10px 0px gray;
}
.account-save-btn {
  background-color: #3B86FF;
  color: #FCFCFC;
}
.account-restore-btn {
  margin-right: 8rem;
  background-color: #E5F31F;
  color: #172B4D;
}
.account-delete-btn {
  background-color: red;
  color: #FCFCFC;
  margin-left: 2rem;
}

@media only screen and (max-width: 640px) {
  .account-btns {
    text-align: center;
  }

  .account-restore-btn {
    margin-right: 0;
    margin-bottom: 3rem;
  }

  .account-delete-btn {
    margin: 0;
  }
}
@media only screen and (max-width: 320px) {
  .account-main {
    min-width: 300px;
    margin: 1rem auto;
    margin-left: 2rem;
  }
}
body {
  background: #71A2B6;
}

.footer {
  background-color: #4F4F4F;
  color: white;
  text-align: center;
  padding: 3rem 0;
  font-size: 1.4rem;
  letter-spacing: 0.15rem;
}

.main {
  position: relative;
  transform: translateX(0);
  transition: transform 500ms, width 500ms;
  padding-top: 5rem;
  width: 100%;
}

/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
    */
@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px) {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }

  tr:nth-child(odd) {
    background: #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
  */
  /* td:nth-of-type(1):before { content: "First Name"; }
  td:nth-of-type(2):before { content: "Last Name"; }
  td:nth-of-type(3):before { content: "Job Title"; }
  td:nth-of-type(4):before { content: "Favorite Color"; }
  td:nth-of-type(5):before { content: "Wars of Trek?"; }
  td:nth-of-type(6):before { content: "Secret Alias"; }
  td:nth-of-type(7):before { content: "Date of Birth"; }
  td:nth-of-type(8):before { content: "Dream Vacation City"; }
  td:nth-of-type(9):before { content: "GPA"; }
  td:nth-of-type(10):before { content: "Arbitrary Data"; } */
}
@media only screen and (max-width: 412px) {
  .main {
    margin-left: 0;
  }

  ._tables {
    padding: 2rem 1rem;
    margin: 0 0 2rem 0;
  }
}
@media only screen and (max-width: 320px) {
  ._tables {
    padding: 2rem 1rem;
    margin: 0 0 2rem 0;
  }
}
._users-table {
  margin-bottom: 2rem;
}

._search-btn {
  cursor: pointer;
}

._tables {
  background-color: #FCFCFC;
  margin: 0 auto 5rem auto;
  padding: 4rem 2rem;
}
._tables table th {
  text-align: center;
  text-transform: uppercase;
  padding: 2rem 0;
  background-color: #DFE2F0;
  color: #A3A6B4;
  font-size: 1.2rem;
}
._tables table td {
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem 0;
  letter-spacing: 0.05rem;
  color: #172B4D;
  transition: color 300ms;
}
._tables table ._row-selected {
  background-color: #10A033;
}
._tables table ._row-selected td {
  color: #FCFCFC;
}
._tables table tr > td:first-of-type {
  font-weight: bold;
}
._tables-row {
  cursor: pointer;
  transition: background-color 300ms;
}
._tables-row:hover {
  background-color: #3B86FF;
}
._tables-row:hover td {
  color: white;
}
._tables-title {
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
  word-spacing: 0.5rem;
  text-align: center;
  margin-bottom: 4rem;
  color: #172B4D;
  font-weight: bold;
}
._tables-search {
  position: relative;
  display: inline-block;
  max-width: 25rem;
  margin: 0;
  padding: 2.5rem 3rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  border: 0;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  color: #172B4D;
  border-radius: 100px;
  text-align: center;
  background-color: white;
}
._tables-search:hover, ._tables-search:active, ._tables-search:focus {
  border: 0;
  -webkit-box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
}
._tables-search::placeholder {
  font-style: italic;
  color: #707070;
}
._tables-search-icon {
  position: relative;
  left: -3rem;
}
._tables-search-input-container {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

._pagination {
  margin-top: 4rem;
}
._pagination li, ._pagination a {
  font-size: 1.6rem;
}

._table-modal {
  padding: 5rem 0;
}
._table-modal-title {
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  margin-bottom: 5rem;
}
._table-modal-close {
  font-size: 4rem;
}
._table-modal-delete {
  margin-bottom: 5rem;
}
._table-modal-delete-prop {
  text-align: right;
  font-size: 1.4rem;
}
._table-modal-delete-val {
  text-align: left;
  font-size: 1.4rem;
}
._table-modal-delete-prop, ._table-modal-delete-val {
  border-collapse: separate;
  padding: 2rem;
}
._table-modal-delete-row {
  color: #172B4D;
  text-align: center;
}
._table-modal-delete-row:nth-child(even) {
  background-color: transparent;
}

._table-btn {
  padding: 1.5rem 2.5rem;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 5px 0px gray;
  transition: box-shadow 150ms, background-color 300ms;
}
._table-btn:hover {
  box-shadow: 0 0 10px 0px gray;
}
._table-btn-container {
  justify-content: center;
  margin-bottom: 5rem;
}
._table-btn-add {
  background-color: #3B86FF;
  color: #FCFCFC;
}
._table-btn-edit {
  color: #172B4D;
  background-color: #E5F31F;
}
._table-btn-delete {
  background-color: red;
  color: #FCFCFC;
}
._table-btn-disabled {
  background-color: #707070;
  cursor: not-allowed;
  color: #FCFCFC;
}

._resource-table {
  margin-bottom: 8rem;
}

@media only screen and (max-width: 640px) {
  ._table-btn-edit {
    margin: 4rem 0;
  }

  ._table-modal-delete-prop, ._table-modal-delete-val {
    text-align: center;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

/*# sourceMappingURL=index.css.map */
