/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.alert {
  position: absolute;
  z-index: 1;
  text-align: center;
  padding: 1.5rem 0;
  width: 100%;
}
.alert-message {
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}
.alert-error {
  background-color: #B71C1C;
}
.alert-success {
  background-color: #10A033;
}
.alert-close {
  margin-left: 2rem;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  cursor: pointer;
}
.alert-close img {
  position: relative;
  width: 100%;
}

.landing-background {
  background: center top/cover no-repeat url("../img/background_top.svg"), center bottom/cover no-repeat url("../img/background_bottom.svg");
}

body {
  position: relative;
  min-height: 100vh;
}

.sign-in {
  position: relative;
  z-index: 0;
}
.sign-in-container {
  background-color: #F7FAFC;
  padding: 5rem 1rem 5rem 1rem;
  border-radius: 5px;
}
.sign-in-title {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.sign-in-subtitle {
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
  margin-bottom: 4rem;
}
.sign-in-title, .sign-in-subtitle {
  text-align: center;
}
.sign-in-username {
  margin-bottom: 4rem;
}
.sign-in-password {
  margin-bottom: 8rem;
}
.sign-in-input {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding: 2.5rem 1.5rem;
  border: none;
  box-shadow: none;
}
.sign-in-input:hover, .sign-in-input:active, .sign-in-input:focus, .sign-in-input:visited {
  border: none;
  box-shadow: none;
}
.sign-in-input:focus {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
}
.sign-in-input:placeholder-shown {
  font-size: 1.4rem;
}
.sign-in-input-group {
  border-radius: 2px;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
}
.sign-in-input-group-error {
  -webkit-box-shadow: 0px 5px 10px 0px #fadcdc;
  -moz-box-shadow: 0px 5px 10px 0px #fadcdc;
  box-shadow: 0px 5px 10px 0px #fadcdc;
}
.sign-in-input-icon {
  color: #172B4D;
}
.sign-in-input-label {
  background-color: white;
  border: none;
}
.sign-in-submit {
  text-align: center;
}
.sign-in-submit-btn {
  font-size: 1.4rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  background-color: #11CDEF;
  color: white;
  padding: 1.5rem 4rem;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
}
.sign-in-submit-btn:disabled {
  background-color: #707070;
}

.input-error {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  color: red;
}

.new-user {
  position: absolute;
  background-color: #291528;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-200%);
}
.new-user-text {
  color: white;
  font-size: 1.4rem;
  letter-spacing: 0.12rem;
}
.new-user-text a, .new-user-text a:focus, .new-user-text a:visited, .new-user-text a:hover {
  color: #11CDEF;
}

@media only screen and (min-width: 768px) {
  .sign-in {
    padding-top: 10vh;
  }

  form {
    padding: 0 2rem;
  }
}
@media only screen and (min-width: 1920px) {
  form {
    padding: 0 15rem;
  }
}
body {
  position: relative;
  min-height: 100vh;
  background: center top/cover no-repeat url("../img/background_top.svg"), center bottom/cover no-repeat url("../img/background_bottom.svg");
}

.sign-up {
  position: relative;
  z-index: 0;
}
.sign-up-container {
  background-color: #F7FAFC;
  padding: 5rem 1rem 5rem 1rem;
  border-radius: 5px;
}
.sign-up-title {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.sign-up-subtitle {
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
  margin-bottom: 4rem;
}
.sign-up-title, .sign-up-subtitle {
  text-align: center;
}
.sign-up-username, .sign-up-given-name, .sign-up-family-name, .sign-up-email, .sign-up-password {
  margin-bottom: 4rem;
}
.sign-up-confirm-password {
  margin-bottom: 8rem;
}
.sign-up-input {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding: 2.5rem 1.5rem;
  border: none;
  box-shadow: none;
}
.sign-up-input:hover, .sign-up-input:active, .sign-up-input:focus, .sign-up-input:visited {
  border: none;
  box-shadow: none;
}
.sign-up-input:focus {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
}
.sign-up-input:placeholder-shown {
  font-size: 1.4rem;
}
.sign-up-input-group {
  border-radius: 2px;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
}
.sign-up-input-group-error {
  -webkit-box-shadow: 0px 5px 10px 0px #fadcdc;
  -moz-box-shadow: 0px 5px 10px 0px #fadcdc;
  box-shadow: 0px 5px 10px 0px #fadcdc;
}
.sign-up-input-icon {
  color: #172B4D;
}
.sign-up-input-label {
  background-color: white;
  border: none;
}
.sign-up-submit {
  text-align: center;
}
.sign-up-submit-btn {
  font-size: 1.4rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  background-color: #11CDEF;
  color: white;
  padding: 1.5rem 4rem;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(201, 201, 201, 0.5);
}
.sign-up-submit-btn:disabled {
  background-color: #707070;
}

.input-error {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  color: red;
}

.returning-user {
  position: absolute;
  background-color: #291528;
  margin-top: 6rem;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: 100%;
  padding: 2rem 0;
}
.returning-user-text {
  color: white;
  font-size: 1.4rem;
  letter-spacing: 0.12rem;
}
.returning-user-text a, .returning-user-text a:focus, .returning-user-text a:visited, .returning-user-text a:hover {
  color: #11CDEF;
}

@media only screen and (min-width: 768px) {
  .sign-up {
    padding-top: 5vh;
  }

  form {
    padding: 0 2rem;
  }

  .returning-user {
    margin: 0;
  }
}
@media only screen and (min-width: 1920px) {
  form {
    padding: 0 15rem;
  }
}
.top-bar {
  position: relative;
}

#responsive-menu, .top-bar ul {
  background-color: #FAFEFF;
}

.title {
  position: absolute;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  top: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

._right-menu li {
  margin-right: 7rem;
}
._right-menu button {
  cursor: pointer;
}
._right-menu ._dropdown-link {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
}
._right-menu ._dropdown-link:last-child {
  padding: 0 1rem;
}
._right-menu ._menu-item:not(:last-child) {
  margin-bottom: 2rem;
}
._right-menu .menu {
  padding: 2rem 0;
}
._right-menu ._dark-mode-toggle {
  margin-left: 2rem;
  position: relative;
  vertical-align: middle;
}
._right-menu ._dark-mode-title {
  position: relative;
  vertical-align: middle;
}

#user-name {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
}

._settings-dropdown {
  min-width: 25rem;
}

@media only screen and (max-width: 960px) {
  .title {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  ._right-menu li {
    margin-right: 4rem;
  }
}
body {
  background: #71A2B6;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

/*# sourceMappingURL=index.css.map */
