@use 'colours' as c;

.account {
    &-main {
        background-color: c.$white;
        padding: 4rem 0;
        margin: 1rem auto;
        transition: width 500ms, transform 500ms;
        min-width: 320px;
        width: 50vw;
    }

    &-basic-info {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 8rem;
    }

    &-fullname-username {
        text-align: left;
    }

    &-fullname {
        font-size: 1.6rem;
        letter-spacing: .1rem;
        color: c.$dark-blue;
        font-weight: bold;
        margin-bottom: 4rem;
    }

    &-username {
        font-size: 1.4rem;
        letter-spacing: .05rem;
    }

    &-pic {
        position: relative;
        width: 50px;
        
        &-container {
            position: relative;
        }
        &-attachment {
            position: relative;
            width: 20px;
            height: 20px;
            left: 70px;
            top: -40px;

            &-btn {
                cursor: pointer;
            }
        }
    }

    &-field {
        color: c.$dark-blue;
        font-size: 1.4rem;
        letter-spacing: .1rem;;
        &-cell {
            text-align: center;
        }
    }

    &-required {
        color: red;
        margin-left: .5rem;
    }

    &-input {
        margin: 1.5rem auto 5rem auto;
        max-width: 25rem;
        font-size: 1.4rem;
        letter-spacing: .05rem;
        padding: 2rem;
        border-radius: 5px;
        border-color: c.$dark-blue;
        border-width: .3px;
        background-color: white;
        text-align: center;

        &::placeholder {
            color: c.$dark-blue;
        }

        &:focus, &:hover, &:active {
            border-width: .3px;
        }
    }

    &-reveal-password {
        cursor: pointer;
        position: relative;
        top: -75px;
        left: 10rem;
        color: c.$dark-blue;
    }

    &-hide-password {
        display: none;
    }

    &-btns {
        margin: 2rem auto 0 auto;
    }

    &-btn {
        padding: 1.5rem 2.5rem;
        font-size: 1.4rem;
        letter-spacing: .05rem;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 0 5px 0px lighten($color: #000000, $amount: 50%);
        transition: box-shadow 150ms;

        &:hover {
            box-shadow: 0 0 10px 0px lighten($color: #000000, $amount: 50%);
        }
    }

    &-save-btn {
        background-color: c.$aqua;
        color: c.$white;
    }

    &-restore-btn {
        margin-right: 8rem;
        background-color: c.$yellow;
        color: c.$dark-blue;
    }
}

@media only screen and (max-width: 640px) {
    .account-btns {
        text-align: center;
    }
    
    .account-restore-btn {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 320px) {
    .account-main {
        min-width: 300px;
        margin: 1rem auto;
        margin-left: 2rem;
    }
}