@use 'colours' as c;

.alert {
    position: absolute;
    z-index: 1;
    text-align: center;
    padding: 1.5rem 0;
    width: 100%;

    &-message {
        display: inline-block;
        color: white;
        font-size: 1.2rem;
        letter-spacing: .05rem;
    }

    &-error {
        background-color: c.$red;
    }

    &-success {
        background-color: c.$green;
    }

    &-close {
        margin-left: 2rem;
        width: 2rem;
        height: 2rem;
        vertical-align: middle;
        cursor: pointer;

        & img {
            position: relative;
            width: 100%;
        }
    }
}