$dark-blue: #172B4D;
$blue: #11CDEF;
$aqua: #3B86FF;
$white: #FCFCFC;
$light-blue: #FAFEFF;
$teal: #71A2B6;
$green: #10A033;
$red: #B71C1C;
$dark-slate-gray: #A3A6B4;
$light-slate-gray: #DFE2F0;
$lighter-slate-gray: #F7FAFC;
$light-gray: #707070;
$dark-gray: #4F4F4F;
$brown: #291528;