$dark-blue: #172B4D;
$blue: #11CDEF;
$white: #FCFCFC;
$light-blue: #FAFEFF;
$teal: #71A2B6;
$green: #10A033;
$red: #B71C1C;
$lighter-slate-gray: #F7FAFC;
$light-gray: #707070;
$dark-gray: #4F4F4F;
$brown: #291528;