@use 'colours' as c;

body {
    background: c.$teal;
}

.footer {
    background-color: c.$dark-gray;
    color: white;
    text-align: center;
    padding: 3rem 0;
    font-size: 1.4rem;
    letter-spacing: .15rem;
}

// MAIN CONTENT
.main {
    position: relative;
    transform: translateX(0);
    transition: transform 500ms, width 500ms;
    padding-top: 5rem;
}

._tables {
    background-color: c.$white;
    margin-left: 2rem;
    margin-bottom: 5rem;
    padding: 4rem 2rem;

    table {
        th {
            text-align: center;
            text-transform: uppercase;
            padding: 2rem 0;
            background-color: c.$light-slate-gray;
            color: c.$dark-slate-gray;
            font-size: 1.2rem;
        }

        td {
            text-align: center;
            font-size: 1.2rem;
            padding: 2rem 0;
            font-size: 1.2rem;
            letter-spacing: .05rem;
            color: c.$dark-blue;
            transition: color 300ms;
        }

        ._row-selected {
            background-color: c.$aqua;

            & td {
                color: c.$white;
            }
        }

        tr > td:first-of-type {
            font-weight: bold;
        }
    }

    &-row {
        cursor: pointer;
        transition: background-color 300ms;

        &:hover {
            background-color: c.$aqua;

            & td {
                color: white;
            }
        }
    }

    &-title {
        font-size: 1.6rem;
        letter-spacing: .12rem;
        word-spacing: .5rem;
        text-align: center;
        margin-bottom: 4rem;
        color: c.$dark-blue;
        font-weight: bold;
    }

    &-search {
        position: relative;
        display: inline-block;
        max-width: 25rem;
        margin: 0;
        padding: 2.5rem 3rem;
        font-size: 1.4rem;
        letter-spacing: .1rem;
        border: 0;
        -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
        color: c.$dark-blue;
        border-radius: 100px;
        text-align: center;
        background-color: white;

        &:hover, &:active, &:focus {
            border: 0;
            -webkit-box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.1);
            box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.1);
        }
        
        &::placeholder {
            font-style: italic;
            color: c.$light-gray;
        }

        &-icon {
            position: relative;
            left: -3rem;
        }

        &-input-container {
            margin-bottom: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

._pagination {
    margin-top: 4rem;

    & li, & a {
        font-size: 1.6rem;
    }
}

// MEDIA QUERIES
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
    */
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

        .main {
            max-width: 70%;
        }

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
            display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		/* td:nth-of-type(1):before { content: "First Name"; }
		td:nth-of-type(2):before { content: "Last Name"; }
		td:nth-of-type(3):before { content: "Job Title"; }
		td:nth-of-type(4):before { content: "Favorite Color"; }
		td:nth-of-type(5):before { content: "Wars of Trek?"; }
		td:nth-of-type(6):before { content: "Secret Alias"; }
		td:nth-of-type(7):before { content: "Date of Birth"; }
		td:nth-of-type(8):before { content: "Dream Vacation City"; }
		td:nth-of-type(9):before { content: "GPA"; }
		td:nth-of-type(10):before { content: "Arbitrary Data"; } */
    }
    
     @media only screen and (max-width: 412px) {
        .main {
            max-width: calc(100vw - 20rem);
            margin-left: 0;

            &-sidebar-closed {
                // transform: translateX(-50%);
            }
        }
        
        ._tables {
            padding: 2rem 1rem;
            margin: 0 0 2rem 0;
        }
    }

    @media only screen and (max-width: 320px) {
        .main {
            margin-left: 0;

            &-sidebar-closed {
                // transform: translateX(-100%);
            }
        }
        
        ._tables {
            padding: 2rem 1rem;
            margin: 0 0 2rem 0;
        }
    }

