@use 'colours' as c;

body {
    background: c.$teal;
}

.footer {
    background-color: c.$dark-gray;
    color: white;
    text-align: center;
    padding: 3rem 0;
    font-size: 1.4rem;
    letter-spacing: .15rem;
}

// MAIN CONTENT
.main {
    position: relative;
    transform: translateX(0);
    transition: transform 500ms, width 500ms;
    padding-top: 5rem;
    width: 100%;
}

// MEDIA QUERIES
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
    */
	@media
	  only screen 
    and (max-width: 760px), (min-width: 768px)
    and (max-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
            display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		/* td:nth-of-type(1):before { content: "First Name"; }
		td:nth-of-type(2):before { content: "Last Name"; }
		td:nth-of-type(3):before { content: "Job Title"; }
		td:nth-of-type(4):before { content: "Favorite Color"; }
		td:nth-of-type(5):before { content: "Wars of Trek?"; }
		td:nth-of-type(6):before { content: "Secret Alias"; }
		td:nth-of-type(7):before { content: "Date of Birth"; }
		td:nth-of-type(8):before { content: "Dream Vacation City"; }
		td:nth-of-type(9):before { content: "GPA"; }
		td:nth-of-type(10):before { content: "Arbitrary Data"; } */
    }
    
     @media only screen and (max-width: 412px) {
        .main {
            margin-left: 0;
        }
        
        ._tables {
            padding: 2rem 1rem;
            margin: 0 0 2rem 0;
        }
    }

    @media only screen and (max-width: 320px) {
        ._tables {
            padding: 2rem 1rem;
            margin: 0 0 2rem 0;
        }
    }

