@use 'colours' as c;

body {
    background: c.$teal;
}

.footer {
    background-color: c.$dark-gray;
    color: white;
    text-align: center;
    padding: 3rem 0;
    font-size: 1.4rem;
    letter-spacing: .15rem;
}

// MAIN CONTENT
.main {
    position: relative;
    transform: translateX(0);
    transition: transform 500ms, width 500ms;
    padding-top: 5rem;

    &-sidebar-closed {
        transform: translateX(-5%);
    }
}

._tables {
    background-color: c.$white;
    margin-left: 2rem;
    margin-bottom: 5rem;
    padding: 4rem 2rem;

    table {
        th {
            text-align: center;
            text-transform: uppercase;
            padding: 2rem 0;
            background-color: c.$light-slate-gray;
            color: c.$dark-slate-gray;
            font-size: 1.2rem;
        }

        td {
            text-align: center;
            font-size: 1.2rem;
            padding: 2rem 0;
            font-size: 1.2rem;
            letter-spacing: .05rem;
            color: c.$dark-blue;
            transition: color 300ms;
        }

        ._row-selected {
            background-color: c.$aqua;

            & td {
                color: c.$white;
            }
        }

        tr > td:first-of-type {
            font-weight: bold;
        }
    }

    &-row {
        cursor: pointer;
        transition: background-color 300ms;

        &:hover {
            background-color: c.$aqua;

            & td {
                color: white;
            }
        }
    }

    &-title {
        font-size: 1.6rem;
        letter-spacing: .12rem;
        word-spacing: .5rem;
        text-align: center;
        margin-bottom: 4rem;
        color: c.$dark-blue;
        font-weight: bold;
    }

    &-search {
        position: relative;
        display: inline-block;
        max-width: 25rem;
        margin: 0;
        padding: 2.5rem 3rem;
        font-size: 1.4rem;
        letter-spacing: .1rem;
        border: 0;
        -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
        color: c.$dark-blue;
        border-radius: 100px;
        text-align: center;
        background-color: white;

        &:hover, &:active, &:focus {
            border: 0;
            -webkit-box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.1);
            box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.1);
        }
        
        &::placeholder {
            font-style: italic;
            color: c.$light-gray;
        }

        &-icon {
            position: relative;
            left: -3rem;
        }

        &-input-container {
            margin-bottom: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

._pagination {
    margin-top: 4rem;

    & li, & a {
        font-size: 1.6rem;
    }
}
@media only screen and (max-width: 400px) {
    ._tables-grid {
        max-width: calc(100vw);
    }
}

@media only screen and (max-width: 1366px) {
    ._tables-grid {
        max-width: calc(100vw - 22rem);
    }
}


