@use 'colours' as c;

._search-btn {
  cursor: pointer;
}

._tables {
  background-color: c.$white;
  margin: 0 auto 5rem auto;
  padding: 4rem 2rem;

  table {
    th {
      text-align: center;
      text-transform: uppercase;
      padding: 2rem 0;
      background-color: c.$light-slate-gray;
      color: c.$dark-slate-gray;
      font-size: 1.2rem;
    }

    td {
      text-align: center;
      font-size: 1.2rem;
      padding: 2rem 0;
      letter-spacing: .05rem;
      color: c.$dark-blue;
      transition: color 300ms;
    }

    ._row-selected {
      background-color: c.$green;

      & td {
        color: c.$white;
      }
    }

    tr > td:first-of-type {
      font-weight: bold;
    }
  }

  &-row {
    cursor: pointer;
    transition: background-color 300ms;

    &:hover {
      background-color: c.$aqua;

      & td {
        color: white;
      }
    }
  }

  &-title {
    font-size: 1.6rem;
    letter-spacing: .12rem;
    word-spacing: .5rem;
    text-align: center;
    margin-bottom: 4rem;
    color: c.$dark-blue;
    font-weight: bold;
  }

  &-search {
    position: relative;
    display: inline-block;
    max-width: 25rem;
    margin: 0;
    padding: 2.5rem 3rem;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    border: 0;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
    color: c.$dark-blue;
    border-radius: 100px;
    text-align: center;
    background-color: white;

    &:hover, &:active, &:focus {
      border: 0;
      -webkit-box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.1);
      box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.1);
    }

    &::placeholder {
      font-style: italic;
      color: c.$light-gray;
    }

    &-icon {
      position: relative;
      left: -3rem;
    }

    &-input-container {
      margin-bottom: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

._pagination {
  margin-top: 4rem;

  & li, & a {
    font-size: 1.6rem;
  }
}

._table-modal {
  padding: 5rem 0;

  &-title {
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    margin-bottom: 5rem;
  }

  &-close {
    font-size: 4rem;
  }

  &-delete {
    margin-bottom: 5rem;
  }

  &-delete-prop {
    text-align: right;
    font-size: 1.4rem;
  }

  &-delete-val {
    text-align: left;
    font-size: 1.4rem;
  }

  &-delete-prop, &-delete-val {
    border-collapse: separate;
    padding: 2rem;
  }

  &-delete-row {
    color: c.$dark-blue;
    text-align: center;

    &:nth-child(even) {
      background-color: transparent;
    }
  }
}

._table-btn {
  padding: 1.5rem 2.5rem;
  font-size: 1.4rem;
  letter-spacing: .05rem;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 5px 0px lighten($color: #000000, $amount: 50%);
  transition: box-shadow 150ms, background-color 300ms;

  &:hover {
    box-shadow: 0 0 10px 0px lighten($color: #000000, $amount: 50%);
  }

  &-container {
    justify-content: center;
    margin-bottom: 5rem;
  }

  &-add {
    background-color: c.$aqua;
    color: c.$white;
  }

  &-edit {
    color: c.$dark-blue;
    background-color: c.$yellow;
  }

  &-delete {
    background-color: red;
    color: c.$white;
  }

  &-disabled {
    background-color: c.$light-gray;
    cursor: not-allowed;
    color: c.$white;
  }
}

._resource-table {
  margin-bottom: 8rem;
}



@media only screen and (max-width: 640px) {
  ._table-btn {
    &-edit {
      margin: 4rem 0;
    }
  }

  ._table-modal {
    &-delete-prop, &-delete-val {
      text-align: center;
    }
  }
}