@use 'reset';
@use 'alert';
@use 'footer';
@use 'sign_in';
@use 'sign_up';
@use 'top-bar';
@use 'side-bar';
@use 'account';
@use 'database';

// Write your global styles below
html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}