aiofiles==0.5.0
alog==0.9.13
astroid==2.4.2
atomicwrites==1.4.0
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
boto3 @ file:///tmp/build/80754af9/boto3_1599888160158/work
botocore @ file:///tmp/build/80754af9/botocore_1600292441839/work
brotlipy==0.7.0
certifi==2020.6.20
cffi @ file:///C:/ci/cffi_1598352710791/work
chardet==3.0.4
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
colorama==0.4.4
cryptography @ file:///C:/ci/cryptography_1598892079907/work
cycler==0.10.0
cytoolz==0.10.1
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1600489134093/work
decorator==4.4.2
dlib @ file:///D:/bld/dlib_1597241940806/work
docutils==0.15.2
face-alignment==1.1.1
face-recognition==1.3.0
face-recognition-models==0.3.0
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1598715631409/work
flake8==3.8.4
graphene==1.4
graphql-core @ file:///home/conda/feedstock_root/build_artifacts/graphql-core_1593979029761/work
graphql-relay==3.0.0
gunicorn==20.0.4
h11 @ file:///tmp/build/80754af9/h11_1594058940538/work
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imagecodecs @ file:///D:/bld/imagecodecs_1593295673180/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1593211580034/work
iniconfig @ file:///tmp/build/80754af9/iniconfig_1596827328212/work
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath @ file:///tmp/build/80754af9/jmespath_1594304593830/work
joblib @ file:///tmp/build/80754af9/joblib_1594236160679/work
jsonpickle==1.4.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib @ file:///D:/bld/matplotlib-base_1600159364636/work
mccabe==0.6.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools @ file:///tmp/build/80754af9/more-itertools_1598884071673/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1596215850360/work
olefile==0.46
orjson @ file:///D:/bld/orjson_1603209552232/work
packaging==20.4
pandas @ file:///D:/bld/pandas_1599601180493/work
Pillow @ file:///C:/ci/pillow_1594298230227/work
pluggy==0.13.1
prometheus-client==0.7.1
promise @ file:///C:/ci/promise_1598039724847/work
py @ file:///tmp/build/80754af9/py_1593446248552/work
pycodestyle==2.6.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydantic==1.5.1
pyflakes==2.2.0
pylint==2.6.0
PyMySQL @ file:///home/conda/feedstock_root/build_artifacts/pymysql_1599741532691/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.0.2
python-dateutil==2.8.1
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1593788306353/work
python-multipart==0.0.5
pytz==2020.1
PyWavelets @ file:///D:/bld/pywavelets_1599487624734/work
PyYAML==5.3.1
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
s3transfer==0.3.3
scikit-image==0.17.2
scikit-learn @ file:///C:/ci/scikit-learn_1598377018496/work
scipy @ file:///C:/ci/scipy_1592916963468/work
sip==4.19.13
six==1.15.0
SQLAlchemy @ file:///D:/bld/sqlalchemy_1597702122451/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette_1595508258730/work
starlette-exporter==0.6.0
starlette-prometheus==0.7.0
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1599208671228/work
timing-asgi==0.2.0
toml==0.10.1
toolz==0.10.0
torch==1.6.0
torchvision==0.7.0
tornado==6.0.4
tqdm @ file:///tmp/build/80754af9/tqdm_1600709023549/work
ujson @ file:///C:/ci/ujson_1597913519086/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1597086586889/work
uvicorn @ file:///D:/bld/uvicorn_1589288848987/work
websockets @ file:///D:/bld/websockets_1598999339048/work
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
wsproto==0.13.0
zipp==3.1.0
